body {
    background-color: #9b835f;
}

.custom-color {
    background-color: #9b835f;
}

.color-custom {
    color: white;
    background-color: #724C21;
    width: 150px;
    height: 60px;
}

.color-font {
    color: white;
}

.color-custom:hover {
    color: #724C21;
    background-color: white;
}

.margin-custom {
    margin-top: 300px;
}

.margin-custom-1 {
    margin-top: -17px;
}

.custom-margin-2 {
    margin-left: 750px;
}

.font-cus-1 {
    font-size: 18pt;
    font-weight: bold;
}

.font-cus-2 {
    font-size: 14pt;
    font-weight: bold;
}