<% layout('layout/main') -%>
<% block('title', 'Register') -%>

<form class="margin-custom" target="/user/register" method="POST">
    <% if(registerError) { %>
        <div class="alert alert-danger col-md-6  offset-md-3" role="alert">
                <%= registerError %>
        </div>
    <% } %>
    <div class="form-group col-md-6 offset-md-3">
        <label for="username" class="color-font">Username</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group col-md-6 offset-md-3">
        <label for="password" class="color-font">Password</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="form-group col-md-6 offset-md-3">
        <label for="password" class="color-font">Re-Type Password</label>
        <input type="password" class="form-control" name="confirmPassword" id="password">
    </div>
    <div class="form-group col-md-6 offset-md-3">
        <label for="fullname" class="color-font">Full Name</label>
        <input type="text" class="form-control" name="fullName" id="fullname">
    </div>
    <div class="form-group col-md-6 offset-md-3">
        <label for="gender" class="color-font">Gender ( m / f )</label>
        <select class="custom-select" name="gander" id="inputGroupSelect03"
            aria-label="Example select with button addon" required>
            <option selected>Choose...</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
        </select>
    </div>
    <div class="form-group col-md-6 offset-md-3">
        <label for="age" class="color-font">Age</label>
        <input type="number" class="form-control" name="age" id="age">
    </div>
    <div class="row ml-1">
        <div class="form-group col-md-3 offset-md-3 ">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="form-group col-md-3  ">
            <p>Already have account <a href="/user/login">Login</a></p>
        </div>
    </div>
</form>