<% layout('layout/main') -%>
<% block('title', 'Register') -%>

<div class="container">
    <h4 class="margin-custom-1 margin-custom">User_Game</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="listUserGame">
        </tbody>
    </table>

    <h4 class="margin-custom">User_Game_Biodata</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">UserGameId</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="listUserBiodata">
        </tbody>
    </table>

    <h4 class="margin-custom">User_Game_History</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Player 1 Username</th>
                <th scope="col">Player 2 Username</th>
                <th scope="col">Player 1 Choice</th>
                <th scope="col">Player 2 Choice</th>
                <th scope="col">Result</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="listUserHistory">
        </tbody>
    </table>
</div>

<script src="/script/index.js"></script>