<% layout('layout/main') -%>
<% block('title', 'Add') -%>

<div class="container home__container">
    <h1 class="blog-heading">Welcome to Mabar</h1>
    <h4 class="blog-sub-heading text-muted">Please choice create room or join room</h4>
    
</div>
<img src="home.svg" class="img-fluid home__image " alt="Responsive image">

<div class="row home__buttons ">
    <form class="margin-custom col-md-4" action="/room/create" method="POST">
        <div class="form-grops">
            <button type="submit" class="btn btn-primary" >Create Room</button>
        </div>
    </form>
    <div class="col-md-4 ">
        <a type="submit" href="/room/join" class="btn btn-success" >Join Room</a>
    </div>
</div>