<% layout('layout/main') -%>
<% block('title', 'Add') -%>

<form class="margin-custom" target="/room/create" method="POST">
    <h2>Create Room or Join</h2>
  
    <div class="form-group col-md-6 offset-md-3">
        <button type="submit" class="btn btn-primary" >Create Room</button>
    </div>
</form>