<% layout('layout/main') -%>
<% block('title', 'Login') -%>

<form class="margin-custom" action="/user/login" method="POST">
        <% if(loginError) { %>
                <div class="alert alert-danger col-md-6  offset-md-3" role="alert">
                        <%= loginError %>
                </div>
        <% } %>
        <div class="form-group col-md-6 offset-md-3">
                <label for="username" class="color-font">Username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-6 offset-md-3">
                <label for="password" class="color-font">Password</label>
                <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="form-group  col-md-6 offset-md-3">
                <button type="submit" class="btn btn-primary">Login</button>
        </div>
</form>